body {
    background-color: rgb(104, 169, 245);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 1%;
    padding: 10px;
    width: 520px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.623);
}

div {
    text-align: center;
    padding: 5px;
}

footer {
    color: white;
    font: normal 17pt Arial;
    text-align: center;
    font-weight: bold
}
